/* Navbar styling */
.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(34, 34, 34);
    height: 10vh; /* Use vh for height to make it responsive */
    font-family: monospace;
    font-size: 1.2rem; /* Use rem for font size */
    color: orange;
    align-items: center; 
    padding: 0 2vw;
}


.editor {
    height: 70vh; 
    width: 100%; 
}


#user-count {
    padding: 1vh 2vw; 
    border: 1px dashed orange;
    margin-bottom: 1vh; 
}


.output-section {
    height: 20vh; 
    margin-top: 0;
    font-family: monospace;
    background-color: rgb(34, 34, 34);
    color: orange;
    padding: 1vh 2vw; 
    overflow-y: auto; 
    font-size: 1rem; 
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar button,
.navbar select {
    font-size: 1rem; 
    margin-left: 1vw; 
    padding: 0.5vh 1vw; 
    background-color: orange;
    color: rgb(34, 34, 34);
    border: none;
    cursor: pointer;
    font-family: monospace;
}
